/*
 * animation: name duration timing-function delay iteration-count direction;
 * animation-fill-mode: the status of animation begining and ending
 *      none: default
 *      forwards: keep the status of last frame after ending
 *      backwards: keep the status of first frame before starting
 *      both: forwards + backwards
 */
.shake {
  animation: headShake 1s linear 0s 1 normal;
  animation-fill-mode: none;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-10px) rotate(-5deg);
  }
  18.5% {
    transform: translateX(10px) rotate(5deg);
  }
  31.5% {
    transform: translateX(-10px) rotate(-5deg);
  }
  43.5% {
    transform: translateX(10px) rotate(5deg);
  }
  50% {
    transform: translateX(0);
  }
}

.rotate {
  animation: rotate-anim 1s linear 0s 1 normal;
  animation-fill-mode: none;
}

@keyframes rotate-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scale {
  animation: scale-anim 1s linear 0s 1 normal;
  animation-fill-mode: none;
}

@keyframes scale-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

/*
 *	button hover&active effects
 */
.animate-btn-fillLeftRight:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 0;
  height: 100%;
  top: 50%;
  left: 50%;
  background: #ccc;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}

.animate-btn-fillLeftRight:hover:after {
  width: 100%;
  opacity: 1;
}

.animate-btn-fillBottom:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #ccc;
  opacity: 0;
}

.animate-btn-fillBottom:hover:after {
  height: 100%;
  opacity: 1;
}

.animate-btn-fillRight:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #ccc;
  opacity: 0;
}

.animate-btn-fillRight:hover:after {
  width: 100%;
  opacity: 1;
}

.animate-btn-fillTopBottom:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #ccc;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}

.animate-btn-fillTopBottom:hover:after {
  height: 80%;
  opacity: 1;
}

.animate-btn-fillTopBottom:active:after {
  height: 150%;
  opacity: 1;
}

.animate-btn-fillCorner:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #ccc;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.animate-btn-fillCorner:hover:after {
  height: 200%;
  opacity: 1;
}

.animate-btn-fillCorner:active:after {
  height: 400%;
  opacity: 1;
}

.animate-btn-fillBackground:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.animate-btn-fillBackground:hover:after {
  background: #ccc;
}

.animate-btn-slideDown .icon,
.animate-btn-slideDown .text {
  transition: all 0.3s;
  transform: translateY(-100%);
  height: 100%;
  line-height: 100%;
}

.animate-btn-slideDown:hover .icon,
.animate-btn-slideDown:hover .text {
  transform: translateY(0);
}

.animate-btn-slideRight .icon,
.animate-btn-slideRight .text {
  transition: all 0.3s;
  width: 100%;
}

.animate-btn-slideRight .icon {
  transform: translateX(-100%);
}

.animate-btn-slideRight .text {
  transform: translateY(-100%);
}

.animate-btn-slideRight:hover .text {
  transform: translate(100%, -100%);
}

.animate-btn-slideRight:hover .icon {
  transform: translateX(0);
}

.btn3a .icon {
  width: 100%;
  transform: translateX(-30%);
}

.btn3a .text {
  padding-left: 20%;
  transform: translate(0, -100%);
}

.btn3a.btn-active .text {
  animation: 0.5s fadeOutText;
}

.btn3a.btn-active .icon {
  animation: 0.5s moveToRight;
}

@keyframes fadeOutText {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

@keyframes moveToRight {
  80% {
    transform: translateX(250%);
  }
  81% {
    opacity: 1;
    transform: translateX(250%);
  }
  82% {
    opacity: 0;
    transform: translateX(250%);
  }
  83% {
    opacity: 0;
    transform: translateX(-50%);
  }
  84% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-30%);
  }
}

.btn3b .icon {
  width: 100%;
  transform: translateX(-30%);
  transform-origin: 80%;
}

.btn3b .text {
  padding-left: 20%;
  transform: translate(0, -100%);
}

.btn3b.btn-active .icon {
  animation: 0.5s scaleUp;
}

@keyframes scaleUp {
  80% {
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.btn4a:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #ccc;
  transition: none;
}

.btn4a.btn-active:after {
  animation: 1s fillToRight forwards;
}

@keyframes fillToRight {
  to {
    width: 100%;
    background: #ccc;
  }
}

.btn4b:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background: #ccc;
  transition: none;
}

.btn4b.btn-active:after {
  animation: 1s emptyBottom forwards;
}

@keyframes emptyBottom {
  to {
    height: 100%;
    background: #ccc;
  }
}

.btn5a .icon-before {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  color: red;
}

.btn5a .icon-after {
  display: block;
  height: 100%;
  margin: auto;
  color: red;
  transform: scale(0);
}

.btn5a.btn-active .icon-after {
  animation: 0.8s scaleFade forwards;
}

@keyframes scaleFade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.btn5b .icon-before {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  color: red;
}

.btn5b .icon-after {
  display: block;
  height: 100%;
  margin: auto;
  color: red;
  transform: scale(0);
}

.btn5b.btn-active .icon-after {
  animation: 0.3s dropDown forwards;
}

@keyframes dropDown {
  0% {
    transform: scale(4);
  }
  100% {
    transform: scale(1);
  }
}

.btn6a .icon-before {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  color: red;
}

.btn6a .icon-after {
  display: block;
  height: 100%;
  margin: auto;
  color: red;
  opacity: 0;
}

.btn6a.btn-active .icon-before {
  opacity: 0;
}

.btn6a.btn-active .icon-after {
  animation: moveUp 0.5s forwards;
}

@keyframes moveUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn6b .icon-before {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  color: red;
}

.btn6b .icon-after {
  display: block;
  height: 100%;
  margin: auto;
  color: red;
  opacity: 0;
}

.btn6b.btn-active {
  animation: shake 0.5s;
}

.btn6b.btn-active .icon-before {
  opacity: 0;
}

.btn6b.btn-active .icon-after {
  opacity: 1;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
