/*
 * animation: name duration timing-function delay iteration-count direction;
 *      name: keyframe名称
 *      duration: 动画所需时间
 *      timing-function: 动画的速度曲线
 *      delay: 动画开始前的延迟
 *      iteration-count: 播放次数
 *      direction: 多次播放时，是否轮流反向播放
 * animation-fill-mode: 动画开始前和结束时的状态
 *      none: 默认
 *      forwards: 动画结束后，保持最后一个关键帧状态
 *      backwards: 动画开始前，保持第一个关键帧状态
 *      both: forwards + backwards
 */

 @mixin Shake($animation:headShake 1s linear 0s 1 normal,$mode:none) {
 	animation: $animation;
 	animation-fill-mode:$mode;
 }

 .shake {
 	@include Shake;
 }

 @keyframes headShake {
 	0% {
 		transform: translateX(0);
 	}

 	6.5% {
 		transform: translateX(-10px) rotate(-5deg);
 	}

 	18.5% {
 		transform: translateX(10px) rotate(5deg);
 	}

 	31.5% {
 		transform: translateX(-10px) rotate(-5deg);
 	}

 	43.5% {
 		transform: translateX(10px) rotate(5deg);
 	}

 	50% {
 		transform: translateX(0);
 	}
 }

 @mixin Rotate($animation:rotate-anim 1s linear 0s 1 normal,$mode:none) {
 	animation: $animation;
 	animation-fill-mode:$mode;
 }

 .rotate {
 	@include Rotate;
 }

 @keyframes rotate-anim {
 	0% {
 		transform: rotate(0deg);
 	}

 	100% {
 		transform: rotate(360deg);
 	}
 }

 @mixin Scale($animation:scale-anim 1s linear 0s 1 normal,$mode:none) {
 	animation: $animation;
 	animation-fill-mode:$mode;
 }

 .scale {
 	@include Scale;
 }

 @keyframes scale-anim {
 	0% {
 		transform: scale(1);
 	}

 	50% {
 		transform: scale(2);
 	}
 	100% {
 		transform: scale(1);
 	}
 }

/*
 *	button hover&active effects
 */
 @mixin animate-btn-fillLeftRight($back-color: #ccc, $transition: all 0.3s) {
 	&:after {
 		content: '';
 		position: absolute;
 		z-index: -1;
 		transition: $transition;
 		width: 0;
 		height: 100%;
 		top: 50%;
 		left: 50%;
 		background: $back-color;
 		opacity: 0;
 		transform: translateX(-50%) translateY(-50%);
 	}
 	&:hover:after {
 		width: 100%;
 		opacity: 1;
 	}
 }
 .animate-btn-fillLeftRight {
 	@include animate-btn-fillLeftRight;
 }

 @mixin animate-btn-fillBottom($back-color: #ccc, $transition: all 0.3s) {
 	&:after {
 		content: '';
 		position: absolute;
 		z-index: -1;
 		transition: $transition;
 		width: 100%;
 		height: 0;
 		top: 0;
 		left: 0;
 		background: $back-color;
 		opacity: 0;
 	}
 	&:hover:after {
 		height: 100%;
 		opacity: 1;
 	}
 }
 .animate-btn-fillBottom {
 	@include animate-btn-fillBottom;
 }

 @mixin animate-btn-fillRight($back-color: #ccc, $transition: all 0.3s) {
 	&:after {
 		content: '';
 		position: absolute;
 		z-index: -1;
 		transition: $transition;
 		width: 0;
 		height: 100%;
 		top: 0;
 		left: 0;
 		background: $back-color;
 		opacity: 0;
 	}
 	&:hover:after {
 		width: 100%;
 		opacity: 1;
 	}
 }
 .animate-btn-fillRight {
 	@include animate-btn-fillRight;
 }

 @mixin animate-btn-fillTopBottom($back-color: #ccc, $transition: all 0.3s) {
 	&:after {
 		content: '';
 		position: absolute;
 		z-index: -1;
 		transition: $transition;
 		width: 100%;
 		height: 0;
 		top: 50%;
 		left: 50%;
 		background: $back-color;
 		opacity: 0;
 		transform: translateX(-50%) translateY(-50%);
 	}
 	&:hover:after {
 		height: 80%;
 		opacity: 1;
 	}
 	&:active:after {
 		height: 150%;
 		opacity: 1;
 	}
 }
 .animate-btn-fillTopBottom {
 	@include animate-btn-fillTopBottom;
 }

 @mixin animate-btn-fillCorner($back-color: #ccc, $transition: all 0.3s) {
 	&:after {
 		content: '';
 		position: absolute;
 		z-index: -1;
 		transition: $transition;
 		width: 100%;
 		height: 0;
 		top: 50%;
 		left: 50%;
 		background: $back-color;
 		opacity: 0;
 		transform: translateX(-50%) translateY(-50%) rotate(45deg);
 	}
 	&:hover:after {
 		height: 200%;
 		opacity: 1;
 	}
 	&:active:after {
 		height: 400%;
 		opacity: 1;
 	}
 }
 .animate-btn-fillCorner {
 	@include animate-btn-fillCorner;
 }

 @mixin animate-btn-fillBackground($back-color: #ccc, $transition: all 0.3s) {
 	&:after {
 		content: '';
 		position: absolute;
 		left: 0;
 		top: 0;
 		width: 100%;
 		height: 100%;
 		z-index: -1;
 		transition: $transition;
 	}
 	&:hover:after {
 		background: $back-color;
 	}
 }
 .animate-btn-fillBackground {
 	@include animate-btn-fillBackground;
 }

 @mixin animate-btn-slideDown($transition: all 0.3s) {
     .icon, .text {
        transition: $transition;
        transform: translateY(-100%);
        height: 100%;
        line-height: 100%;
     }
     &:hover .icon, &:hover .text {
        transform: translateY(0);
     }
 }
 .animate-btn-slideDown {
 	@include animate-btn-slideDown;
 }

 @mixin animate-btn-slideRight($transition: all 0.3s) {
    .icon, .text {
        transition: $transition;
        width: 100%;
     }
     .icon {
        transform: translateX(-100%);
     }
     .text {
        transform: translateY(-100%); 
     }
     &:hover .text {
        transform: translate(100%,-100%);
     }
     &:hover .icon {
        transform: translateX(0);
     }
 }
 .animate-btn-slideRight {
 	@include animate-btn-slideRight;
 }
