html {
  font: 14px/1.5 Arial, sans-serif;
}

html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
group,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  float: left;
  margin: 0 20px;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 40px auto;
}

.container ul li {
  margin-bottom: 20px;
  padding: 40px 20px;
  border: 1px solid #ccc;
  clear: both;
}

.container ul li:after {
  content: "";
  display: block;
  clear: both;
}
